@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap");

/* shared styles */

* {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.special-text {
  color: #ff42a5;
}

.special-text-2 {
  background: linear-gradient(180deg, #f00bca 0%, #8906c5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* header styles */

/* nav section styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 2.3rem 15rem;
}

.nav-title {
  margin-right: auto;
  font-size: 2.81rem;
  font-weight: 700;
}

nav > ul {
  display: flex;
  gap: 1.8rem;
}

nav li {
  list-style: none;
  font-size: 1.1rem;
  font-weight: 500;
}

nav li a {
  text-decoration: none;
}

nav li button {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: 0;
  padding: 1rem 1.6rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: -15px;
}

/* banner section styles */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('/images/Group\ 14.png');
  background-repeat: no-repeat;
}

.banner-content {
  padding: 6.5rem 14rem;
}

.banner-title {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
}

.banner-special-text {
  font-size: 5.6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f00bca 0%, #8906c5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-description {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
}

.btn-1 {
  background: #ff42a5;
  border-radius: 3rem;
  border: 0;
  padding: 1.2rem 2.3rem;
  color: #fff;
  margin: 20px 20px 0 0;
}

.btn-2 {
  background: #4ec5f7;
  border-radius: 3rem;
  border: 0;
  padding: 1.2rem 2.3rem;
  color: #fff;
}

.banner-img {
  padding: 1.18rem;
  padding-right: 15rem;
}
/* main section styles */
/* games videos section style */

.games-videos-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.games-videos-description {
  color: #534c64;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}

.games-videos-images {
  display: flex;
  gap: 1.5rem;
  padding: 2rem 15rem;
}

/* online games section styles */
.online-games {
  display: flex;
  align-items: center;
  margin-bottom: 12rem;
}

.online-games-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  padding-right: 14rem;
}

.online-games-description {
  color: #534c64;
  font-size: 1.1rem;
  font-weight: 400;
  padding-right: 14rem;
}

.online-games-img {
  padding-left: 15rem;
}

.online-games-relative {
  position: relative;
  right: 200px;
  top: 260px;
}

/* button section styles */

.button {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-content-btn {
  border-radius: 50px;
  background: #FFF;
  border: 0;
  padding: 20px 35px;
  color: #0B0223;
  font-size: 20px;
  font-weight: 600;
}

.button-content{
 display: flex;
 align-items: center;
 gap: .8rem;
}

.main-content-btn:hover {
  color: #ff42a5;
  border: 1px solid #ff42a5;
}

/* footer section styles */

.footer {
  width: 100%;
  height: 636px;
  background: #0b0223;
  padding-top: 5rem;
}

.footer-title {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
}

.footer-content li {
  list-style: none;
}

.footer-content li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 4rem;
}

.footer-icons a {
  color: #fff;
  font-size: 2.5rem;
}

.footer-policy-content > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
  margin-top: 4rem;
}

.footer-policy-content li {
  list-style: none;
}

.footer-policy-content li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}

.footer-copyright {
  text-align: center;
  color: #fff;
  margin-top: 1.8rem;
  font-weight: 500;
}
